* {
   margin: 0;
   padding: 0;
}

.overlay {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   background-color: #343F4F;
}

.main {
   background-color: brown;
   padding: 0.625em;
   margin: 1.25em;
   border-radius: 0.625em;
}

.slider-wrapper {
   display: flex;
   white-space: nowrap;
   overflow: hidden;
   border-radius: 0.625em;
}

.slider-line {
   display: flex;
   white-space: nowrap;
   transition: all 1s;
   max-width: 50em;
}

.slider-line img {
   width: 100%;
   height: auto;
   transition: all 0.5s;
}

.navigation-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   overflow: hidden;
   margin-top: 1.25em;
   margin-bottom: 0.625em;
   /* width: 6.5em; */
}

.slider-titles {
   display: flex;
   white-space: nowrap;
   transition: all 1s;
   width: 400%;
}

.slider-titles p {
   width: 25%;
   color: #fff;
   transition: all 0.5s;
   /* background-color: blueviolet; */
}

.navigation {
   display: flex;
   align-items: center;
   /* background-color: blueviolet; */
}

/* Expanded area for click to dot point (radio) */
.radio-custom label {
   display: inline-flex;
   justify-content: center;
   align-items: center;
   width: 1.5em;
   height: 1.5em;
}

.radio-custom label span {
   width: 0.75em;
   height: 0.75em;
   background-color: #458dff;
   border-radius: 50%;
}

.navigation label:hover {
   cursor: pointer;
   transform: scale(120%)
}

.navigation label:active {
   filter: brightness(120%);
}

/* Style checked for area dot point */
#slide_1:checked ~ .navigation-wrapper > .navigation > .radio-custom > .dot_1 {
   cursor: auto;
   transform: scale(100%);
}

#slide_2:checked ~ .navigation-wrapper > .navigation > .radio-custom > .dot_2 {
   cursor: auto;
   transform: scale(100%);
}

#slide_3:checked ~ .navigation-wrapper > .navigation > .radio-custom > .dot_3 {
   cursor: auto;
   transform: scale(100%);
}

#slide_4:checked ~ .navigation-wrapper > .navigation > .radio-custom > .dot_4 {
   cursor: auto;
   transform: scale(100%);
}

/* Style checked for dot point */
#slide_1:checked ~ .navigation-wrapper > .navigation > .radio-custom > .dot_1 > span {
   background-color: #ff8b64;
   cursor: auto;
   transform: scale(100%);
}

#slide_2:checked ~ .navigation-wrapper > .navigation > .radio-custom > .dot_2 > span {
   background-color: #ff8b64;
   cursor: auto;
   transform: scale(100%);
}

#slide_3:checked ~ .navigation-wrapper > .navigation > .radio-custom > .dot_3 > span {
   background-color: #ff8b64;
   cursor: auto;
   transform: scale(100%);
}

#slide_4:checked ~ .navigation-wrapper > .navigation > .radio-custom > .dot_4 > span {
   background-color: #ff8b64;
   cursor: auto;
   transform: scale(100%);
}

.main input[type=radio]  {
   display: none;
}

#slide_1:checked ~ .slider-wrapper > .slider-line #first-slide {
   margin-left: 0;
}

#slide_2:checked ~ .slider-wrapper > .slider-line #first-slide {
   margin-left: -100%;
}

#slide_3:checked ~ .slider-wrapper > .slider-line #first-slide {
   margin-left: -200%;
}

#slide_4:checked ~ .slider-wrapper > .slider-line #first-slide {
   margin-left: -300%;
}
